In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv("people_data.csv")
df.head()

,First Name,Last Name,Sex,Email,Date of birth,Job Title
0,Shelby,Terrell,Male,elijah57@example.net,26-10-1945,Games developer
1,Phillip,Summers,Female,bethany14@example.com,24-03-1910,Phytotherapist
2,Kristine,Travis,Male,bthompson@example.com,02-07-1992,Homeopath
3,Yesenia,Martinez,Male,kaitlinkaiser@example.com,03-08-2017,Market researcher
4,Lori,Todd,Male,buchananmanuel@example.net,01-12-1938,Veterinary surgeon